# Stray Files
.curseclient
usernamecache.json
.qmenu_opened.marker
command_history.txt
minecraftinstance.json
observable_announce
options.txt
patchouli_data.json
ponders_watched.json
servers.dat
servers.dat_old
user-prefs.json
usercache.json
WaypointData.dat

# UnNeeded Folders
shaderpacks/
screenshots/
saves/
resourcepacks/
moonlight-global-datapacks/
mods/
midi_files/
logs/
local/
fancymenu_data/
etched-sounds/
dynamic-resource-pack-cache/
dynamic-data-pack-cache/
downloads/
data/
crash-reports/
confluence/
acrazyd/
backup/
antique_transport/
.voxy/
.sable/
.pg-native/
.mixin.out/

.probe
debug/
vista_ffmpeg_bin/
